body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #ffcc00;
    padding: 20px;
}

.show-button {
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
}

.file-type-button {
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
}

.file-list {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #0077b6;
}
